/**--全局--**/
body{margin:0;padding:0;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
ul,p{margin:0;padding:0;list-style:none;}
form{ margin:0;padding:0;}
a{text-decoration:none; cursor:pointer;}
.bg{background:url(../images/background.png) no-repeat;}
.clear-div{ clear:both;letter-spacing: 1px;}
input.input-text{ border:1px solid #bbb; height:18px; line-height:18px; padding-left:3px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
table ,tr ,td{margin:0; padding:0;}
a{ text-decoration:none; font-size:12px;}
a.elect-one{color:#5178A3; display:inline-block; padding:2px 10px;}
a.elect-one:hover{ background:#4C9DD1;color:#FFF;}
a.elect-two{ display:inline-block; padding:2px 10px; background:#4C9DD1;color:#FFF;}
/**--左侧菜单--**/

#menu{width:270px;height:100%;background:#f2f7fb;margin:0 auto;border:1px solid #d0dded;border-top:none;}
#menu span{display:block;width:178px;height:68px;border:1px solid #c7d9ef;background:url(../images/logo_178_68.png) repeat-x;border-left:none;border-right:none; margin:0 auto;}
#menu ul.menu-sty{margin:0 auto;}
#menu ul.menu-sty li.submenu{background:url(../images/F-menu.png) repeat-x;}
#menu ul.menu-sty li a{display:block;height:20px;line-height:20px;padding-left:7px;color:#551a8b;}
#menu ul.menu-sty li a:hover{ text-decoration:underline;}
#menu ul.menu-sty li a.menu-sty2{display:block;height:27px;font-size:14px;line-height:27px; padding-left:20px;color:#3a699f;background:url(../images/background.png) no-repeat; background-position:6px -64px; font-weight:700;}
#menu ul.menu-sty li a.t-menu{display:block;height:24px;line-height:24px;border-bottom:1px solid #e8eefa;padding-left:22px;color:#5988b4;font-size:12px; background:url(../images/background.png) no-repeat; background-position:6px -152px;}
#menu ul.menu-sty li a.f-menu{background-position:6px -275px;}
#menu ul.menu-sty li.submenu ul.submenu li a.item{display:block;height:20px;line-height:20px;padding-left:7px;color:#551a8b; background:#FFF;}
#menu ul.menu-sty li a.menu-sty3{ background:url(../images/background.png) no-repeat; background-position:6px -104px;}
.module li a{ background:#FFF;}
/**--登录信息--**/
.top_panner{height:26px; line-height:26px; background:url(../images/head-bg.png) repeat-x;}
.top_panner span{ display:block; float:left; padding-left:20px;}
.top_panner span.right{float:right;}
.top_panner span.right a{color:#06F; margin-right:20px;}
.top_panner span.right a:hover{color:#F00; text-decoration:underline;}
/**--底部信息--**/
.right_footer{background:#dfe8f6; border-top:1px solid #99b3dd;height:25px; line-height:25px;}
.right_footer span{ display:block; float:left; padding-left:20px;}
.right_footer span.liveright{float:right; padding-right:20px;}
/**--表单管理--**/
.system{height:27px; background:url(../images/system.png) repeat-x; width:98%;line-height:27px;color:#4f78a4; font-weight:700;overflow:hidden; margin:0 auto;border:1px solid #cdddec; border-bottom:none; margin-top:10px;}
.sys-name{padding-top:3px;color:#5279a4; float:left; white-space:nowrap; padding-right:10px;}
.system span{padding-left:20px; display:block; background-position:0px -188px;}
.form-s1{width:98%;height:auto; overflow:hidden;border:1px solid #cdddec; margin:0 auto; border-top:none;}
.form1{width:98%; padding-left:10px; padding-top:10px; margin:0 auto;}
.form1 label{color:#5279a4; display:block; float:left;width:70px; padding-top:3px;_padding-top:6px; *padding-top:5px; padding-top:5px\0; padding-left:2px;}
.form1 .sys-name input.chkfloat{float:left; margin-top:5px; padding:0; *margin-top:2px;}
.sys-name span{display:block;}
.he-s1{overflow:hidden;}
.form1 .sys-name input.buton-s{height:24px;color:#FFF; font-weight:700;cursor:pointer;line-height:24px; margin-top:2px;float:left;margin-right:15px;border:1px solid #558ac2;background:#4c9dd1;}
#lblMsg{color:#F00;float:left;padding-bottom:5px;padding-top:10px;}
/**--表单管理2--**/
#Form1{width:98%;height:30px;margin:0 auto;}
#Form1 label{ font-size:12px; float:left; *padding-top:6px; margin-right:10px;color:#5178a3;}
#Form1 input#index_room,#Form1 input#pop_room{float:left; padding:0; margin-top:3px;}
#Table1{height:100%;}
/**--数据显示--**/
.data table{font-size:12px; border-collapse:collapse;color:#38648f;}
.data table{width:98%;border:1px solid #d0ddee;margin:10px auto;}
.data table tr{height:26px;}
.data table tr.data-name{background:url(../images/tabel-tr.png) repeat-x;}
.data table tr.data-name td{border-right:1px solid #d8e1f1; padding-left:10px;color:#4f79a3; font-weight:700;}
.data table tr.data-name1 td{overflow:auto;white-space:pre;padding-right:10px;}
.data table tr td{width: auto;padding-left:10px;}
.data table tr td.handle{width: 15%;white-space:nowrap;}
.data table tr td.handle a{color:#F00;margin-right:10px;}
.data table tr.bgcolor{ background:#eef5ff;}
.data table tr.bgcolor-s1{background:#d7eefe;}
/**--查询结果--**/
.info table tr{ border-bottom:1px solid #d0ddee;}
.info table tr td.width-s1{height:70px;}
.info table tr td{width:33%; border:1px solid #d0ddee;height:30px;}
/**--添加管理员--**/
#permissionDiv{ float:left;}
.form-s1 form.form2{overflow:hidden; float:left;width:400px;}
/**--垂直居中
html ,body{height:100%; margin:0; padding:0;}
.floater{height:50%; margin-bottom:-200px; position:relative;}
.main-tip{height:400px; overflow:hidden; position:relative; margin:0 auto; width:70%; background:#0F0;}
--**/
.erro{width:70%;margin:0 auto; padding:0px 10px;}
.erro p{color:#F00;font-size:12px;font-weight:700;height:60px;line-height:30px;border:1px solid #0CF;padding:0 10px;text-align:center;margin-top:10px;}
.erro span{ float:left;}
.erro p strong{ padding-left:5px;}
.erro p a{color:#F00; font-weight:100;}
.erro p a:hover{ text-decoration:underline;}
.checklabel{float:left;}
/**--控制全局--**/
.aligning{padding-left:10px;color:#F00;}
/* --[操作栏/高亮/无数据列表/分页]-- */
.tbold{font-weight:bold;}
.none{display:none;}
.zero{width:0px; height:0px; opacity: 0.0; filter: Alpha(Opacity=0);overflow: hidden;}
.operate{margin:0px 10px;}
.operate a,.operate a:hover{color:#F00;margin:0px 3px;}
tr.hlight td, tr.slight td{background-color:#FF9;}
.noListData{text-align:center;line-height:120px;font-size:24px;font-weight:bold;color:#903;}
#pagination{text-align:right;background-color:#eee;line-height:25px;}
#pagination td{padding-right:10px;}
.submit{margin:2px 15px 0 0;border:1px solid #558AC2;color:#FFFFFF;cursor:pointer;font-weight:700;height:24px;line-height:24px;background-color:#4C9DD1;}
/* --[遮罩]-- */
.overlay { background: 20% 20% #666666;	opacity: 0.2; z-index: 15001; position: absolute; left: 0; top: 0; filter: Alpha(Opacity=20); BACKGROUND: #666666 20% 20%; }
.loading{ position:absolute; z-index:15004;height:50px; overflow:hidden;}
.loading span{ float:left;height:50px;}
.loading span.loading_cnt1{width:4px; background:url(http://image.peng58.com/img/tcbox/loading.png) no-repeat;}
.loading span.loading_cnt2{width:5px; background:url(http://image.peng58.com/img/tcbox/loading_1.png) no-repeat;}
.loading span.loading_cnt{padding:0px 30px 0px 10px;background:url(http://image.peng58.com/img/tcbox/loading_2.png) repeat-x;height:50px;}
.loading span.loading_cnt img{ float:left;width:32px;height:32px; margin-top:10px;}
.loading span.loading_cnt span{ float:left; margin-top:18px; font-size:14px;color:#626262; font-weight:700; padding-left:10px;}
.textLeft {text-align: left;}
